<% content_for :title, t("organizations.memberships.edit.title", email: @membership.user.email) %>

<%= modal title: t("organizations.memberships.edit.title", email: @membership.user.email), size: :narrow do %>
  <%= simple_form_for [@organization, @membership], html: { class: "space-y-4" } do |f| %>
    <%= render "shared/errors", object: f.object %>

    <%= f.input :role,
                as: :radio_buttons,
                collection: Membership.roles.map { |role, _value| [role.humanize, role] },
                label_method: :first,
                value_method: :last %>

    <div class="flex justify-end"><%= f.button :submit, class: "btn btn-primary" %></div>
  <% end %>
<% end %>
