<p><%= t(".greeting", email: @resource.email) %></p>

<p><%= t(".instruction") %></p>

<p>
  <%= link_to t(".action"), edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t(".ignore") %></p>

<p><%= t(".no_change") %></p>
