<!DOCTYPE html>

<html lang="<%= I18n.locale %>" class="h-full bg-base-300 text-base-content">
  <head><%= render "layouts/head" %></head>

  <body class="flex flex-col min-h-screen">
    <%= render "shared/skip_link" %>
    <div class="flex-grow flex flex-col bg-base-300">
      <header class="sticky z-20 top-0">
        <nav class="relative flex justify-center px-6 py-4 bg-base-100" aria-label="<%= t("shared.navigation.home") %>">
          <%= link_to root_path, class: "no-underline" do %>
            <span class="text-2xl font-bold"><%= Rails.application.config_for(:settings).dig(:site, :name_html)&.html_safe %></span>
          <% end %>
        </nav>
      </header>

      <main id="main-content" class="flex-grow flex flex-col items-center pt-12 lg:pt-20 px-4 lg:px-10 bg-base-100">
        <div class="w-full max-w-lg"><%= yield %></div>
      </main>
    </div>

    <div
      id="flash"
      role="log"
      aria-live="polite"
      class="toast toast-end z-40"
    >
      <%= render "shared/flash" %>
    </div>

    <%= turbo_frame_tag :modal %>
    <%= render "shared/turbo_confirm_dialog" %>
  </body>
</html>
