<!DOCTYPE html>

<html lang="<%= I18n.locale %>" class="h-full bg-base-300 text-base-content">
  <head><%= render "layouts/head" %></head>

  <body class="flex flex-col min-h-screen">
    <%= render "shared/skip_link" %>
    <div class="flex-grow flex flex-col bg-base-300">
      <header class="sticky z-20 top-0">
        <%= render "shared/unauthenticated_navbar" %>
      </header>

      <main id="main-content" class="flex-grow p-4 lg:p-10 bg-base-100"><%= yield %></main>

      <%= render "shared/footer" %>
    </div>

    <div
      id="flash"
      role="log"
      aria-live="polite"
      class="toast toast-end z-40"
    >
      <%= render "shared/flash" %>
    </div>

    <%= turbo_frame_tag :modal %>
  </body>
</html>
